@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    padding: 0;
    margin: 0;
    color: white;
}

body,
html,
.App,
#root {
    height: 100%;
}

header {
    height: 80px;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1A1B1C;
}

footer {
    width: 100%;
}


/* classes */


/* header classes */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: absolute;
}

.header-flex {
    display: flex;
    justify-content: center;
    height: 80px;
    background: #1A1B1C;
    box-shadow: 5px -0px 30px 0px black;
    width: 100%;
    align-items: center;
    position: absolute;
}

.farmlogo {
    width: 60px;
    position: absolute;
}

.hamburguer {
    height: 30px;
    width: 40px;
    position: absolute;
    left: 10px;
    transition: all 0.3s
}

.botaohamburguer {
    height: 2px;
    background-color: white;
    width: 40px;
    position: absolute;
}

.botaohamburguer::after {
    content: "";
    height: 2px;
    background-color: white;
    width: 40px;
    position: absolute;
    margin-top: 10px;
}

.botaohamburguer::before {
    content: "";
    height: 2px;
    background-color: white;
    width: 40px;
    position: absolute;
    margin-top: 20px;
}


/* footer classes */

.footer {
    height: 80px;
    width: 100%;
    margin-bottom: 0px;
    background: #1A1B1C;
    box-shadow: 5px -0px 30px 0px black;
}


/* estrutura classes */

.estruturafix {
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.estrutura {
    width: 80%;
    height: 100%;
    box-shadow: 0px -0px 30px 0px black;
    background: #212121;
}

.estrutura p {
    margin-top: 90px;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
}


/* navbar classes */

.navbar {
    box-shadow: 0px -0px 30px 0px black;
    background: #1A1B1C;
    height: 100%;
    width: 0px;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    flex-direction: column;
    transition: all 1s
}

.links {
    height: 220px;
    margin-top: 50px;
    margin-left: -10px;
    width: 90px;
    transition: all 1s;
    opacity: 0;
}

.links ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 1s;
}

.links ul a {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

.links ul a:hover {
    border-bottom: 3px solid #DFAC2C;
    text-decoration: none;
    transition: all 0.2s;
    color: #DFAC2C
}


/* botao X da navbar */

.menux {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: -50px;
    transition: all 1s;
    opacity: 0;
}

.menux ul:hover,
.menux ul:hover:before {
    background-color: #DFAC2C
}

.menux ul {
    margin-top: 20px;
    transform: rotate(45deg);
    height: 5px;
    background-color: white;
    border-radius: 20px;
}

.menux ul::before {
    content: "";
    transform: rotate(90deg);
    height: 5px;
    width: 30px;
    background-color: white;
    position: absolute;
    border-radius: 20px;
}


/* logo farm da navbar */

.logonavbar {
    width: 50px;
    margin-top: 40px;
    margin-left: -50px;
    transition: all 1s;
    opacity: 0;
}


/* scroll */

 ::-webkit-scrollbar {
    background-color: #1B1B1B;
}

::-webkit-scrollbar-thumb {
    background-color: #272727;
    border-radius: 10px;
    border: 2px solid rgb(22, 22, 22);
}