@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    padding: 0;
    margin: 0;
    transition: background-color 1s;
}

body,
html,
.App,
#root {
    height: 100%;
}

header {
    height: 80px;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1A1B1C;
    color: white;
}

footer {
    width: 100%;
}


/* classes */


/* header classes */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    position: absolute;
}

.header-flex {
    display: flex;
    justify-content: center;
    height: 80px;
    background: #1A1B1C;
    box-shadow: 5px -0px 30px 0px black;
    width: 100%;
    align-items: center;
    position: absolute;
}

.farmlogo {
    width: 60px;
    position: absolute;
}

.hamburguer {
    height: 30px;
    width: 40px;
    position: absolute;
    left: 10px;
    transition: all 0.3s;
    cursor: pointer;
}

.botaohamburguer:hover,
.botaohamburguer:hover::after,
.botaohamburguer:hover::before {
    background-color: #DFAC2C;
}

.botaohamburguer {
    height: 2px;
    background-color: white;
    width: 40px;
    position: absolute;
}

.botaohamburguer::after {
    content: "";
    height: 2px;
    background-color: white;
    width: 40px;
    position: absolute;
    margin-top: 10px;
}

.botaohamburguer::before {
    content: "";
    height: 2px;
    background-color: white;
    width: 40px;
    position: absolute;
    margin-top: 20px;
}


/* black/white mode */

.mode {
    width: 35px;
    position: absolute;
    left: 80px;
    margin-top: -22px;
    transition: all 0.3s;
    filter: invert(100%);
    cursor: pointer;
}


/* footer classes */

.footer {
    height: 80px;
    width: 100%;
    margin-bottom: 0px;
    background: #1A1B1C;
    box-shadow: 5px -0px 30px 0px black;
}


/* estrutura classes */

.estruturafix {
    height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.estrutura {
    width: 80%;
    height: 100%;
    box-shadow: 0px -0px 30px 0px black;
    background: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* navbar classes */

.navbar {
    box-shadow: 0px -0px 30px 0px black;
    background: #1A1B1C;
    height: 100%;
    width: 0px;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    flex-direction: column;
    transition: all 1s
}

.links {
    height: 220px;
    margin-top: 50px;
    margin-left: -10px;
    width: 90px;
    transition: all 1s;
    opacity: 0;
}

.links ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: all 1s;
}

.links ul a {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

.links ul a:hover {
    border-bottom: 3px solid #DFAC2C;
    text-decoration: none;
    transition: all 0.2s;
    color: #DFAC2C
}


/* botao X da navbar */

.menux {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: -50px;
    transition: all 1s;
    opacity: 0;
}

.menux:hover {
    transform: scale(1.3);
    /* transition: transform 0.2s linear */
}

.menux ul {
    margin-top: 20px;
    transform: rotate(45deg);
    height: 5px;
    background-color: white;
    border-radius: 20px;
    transition: background 0s;
}

.menux ul::before {
    content: "";
    transform: rotate(90deg);
    height: 5px;
    width: 30px;
    background-color: var(--colorWhite, white);
    position: absolute;
    border-radius: 20px;
}


/* logo farm da navbar */

.logonavbar {
    width: 50px;
    margin-top: 40px;
    margin-left: -50px;
    transition: all 1s;
    opacity: 0;
}


/* scroll */

 ::-webkit-scrollbar {
    background-color: #1B1B1B;
}

::-webkit-scrollbar-thumb {
    background-color: #272727;
    border-radius: 10px;
    border: 2px solid rgb(22, 22, 22);
}


/* login page */

.login {
    /* border: 2px solid #131313; */
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    /* background: rgba(0, 0, 0, 0.25); */
    box-shadow: 0 0px 32px 0 rgba(0, 0, 0, 0.333);
    backdrop-filter: blur( 4px);
    -webkit-backdrop-filter: blur( 4px);
    border-radius: 10px;
}

.login input {
    background-color: transparent;
    color: white;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid rgb(225, 174, 47, 0.459);
    width: 300px;
    height: 30px;
    color: rgb(225, 174, 47, 0.459);
}

.login input:focus {
    border: 2px solid rgba(225, 175, 47, 0.459);
    outline: none;
}

.login input[type="submit"] {
    cursor: pointer;
    border: 3px solid rgba(225, 175, 47, 0.459);
    width: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.login input::placeholder {
    color: #dfac2c6d;
    padding-left: 10px;
}

.login img {
    margin-bottom: 20px;
}

.login p {
    color: rgb(113, 111, 111);
}

.login p a {
    text-decoration: none;
    color: #dfac2c96;
    cursor: pointer;
}